
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('kids.jpg');
    
    margin: 0;
    
}
.nav-container{
    margin-top: 0;
    color: white;
    background: #007bff;
   height: 100px;
   
   text-align: center;

    
}
.navList{
    margin: 0;
    
    display: flex;
    justify-content: center;
    padding: 20px;
    gap:2rem;
    list-style: none;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 99%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#applicationStatus {
    margin-top: 20px;
    font-weight: bold;
}




